body {
    margin: 0;
}
mk-intro, mk-portfolio, mk-contact, mk-copyright {
    overflow-x: hidden;

    width: 100vw;
    max-width: 100vw;
    height: 100vh;
//    min-height: 100vh;

    position: relative;
    float: left;

}

mk-intro {
    height: 85vh;
    header {
        @include background-cover( '', fixed);
        color: white;
        div.banner, div.welcome {
            height: 39vh;
        }
        div.banner {
            top: 0;
            img {
                width: auto;
                height: 31vh;
                position: absolute;
    //                        left: 34.5vh;
                top: 4vh;
                &.logo-lg {
                    @include rotation(-16deg, 1);
                    left: 4vw;
                }
                &.logo-sm {
                    left: 50%;
                    margin-left: -15.5vh;
                }
            }
        }
        div.welcome {
            top: 39vh;
            text-align: center;
        }
    }
}

mk-portfolio {

}

mk-contact {

}

mk-copyright {

}

body {
    header {
        mk-intro {
            color: white;
            div.header {
                width: 100vw;
                height: 78vh;
                @include background-cover( '', fixed);
                div.banner, div.intro {
                    height: 39vh;
                }
                div.banner {
                    top: 0;
                    img {
                        width: auto;
                        height: 31vh;
                        position: absolute;
//                        left: 34.5vh;
                        top: 4vh;
                        &.logo-lg {
                            @include rotation(-16deg, 1);
                            left: 4vw;
                        }
                        &.logo-sm {
                            left: 50%;
                            margin-left: -15.5vh;
                        }
                    }
                }
                div.intro {
                    top: 39vh;
                    text-align: center;
                }
            }
        }
    }
    section {
        z-index: 3;
        hr {
            border-color: $link;
            border-width: 3px;
            max-width: 120px;
            margin-left: auto;
            margin-right: auto;
            &.white {
                border-color: #fff;
            }
            &.black {
                border-color: #000;
            }
        }
    }
    mk-footer {
        font-size: small;
        position: fixed;
        bottom: 0;
        height: 33px;
        width: 100vw;
        background-color: white;
        copyright-info {
            @include horizontal-align();
        }
    }
}
