$alert: rgb(201, 81, 44);
$warning: rgb(247, 220, 136);

$ink: rgb(46, 46, 46);
$chalk: rgb(211, 211, 211);
$link: rgb(0, 127, 122);

$mute: rgb(77, 77, 77);

$placeholder: $mute;

// Font Selections
@mixin serif-font() {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font() {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font() {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin heading-font() {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
@mixin paragraph-font() {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

@mixin text-shadow() {
	text-shadow: 0 0 4px rgb(11, 11, 11), -1px -1px rgba(66, 66, 66, 0.6), 1px 1px rgba(66, 66, 66, 0.6);
}
