@import 'variables';
@import 'settings';

@import 'landing-page';

a {
	color: $link;
	text-decoration: none;
	&:hover {
		color: $mute;
	}
	&:active {
		color: $ink;
	}
}

body {
	@include background-cover ('');
	line-height: 1.5;
	md-toolbar, md-content, md-footer {
		background-color: transparent;
		background-color: $ink;
		background: none;
	}
}

button {
    i {
        color: $mute;
    }
}

md-toolbar {
	position: fixed;
	top: 0;
	img.brand {
		margin: 22px;
	}
	.button4login {
		color: $link;
	}

}
md-content {
	md-card md-toolbar {
		background-color: transparent;
		background: none;
	}
}
md-footer.footnote {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 22px;
	text-align: center;
	font-size: 12px;
}
